<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<booleanAttribute key="yk-capture-cpu-on-exit" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.l2j.Server"/>
<intAttribute key="yk-mem-threshold" value="0"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx512m"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.profile"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Program Files\L2server\l2j C3"/>
<stringAttribute key="org.eclipse.debug.ui.target_run_perspective" value="perspective_default"/>
<booleanAttribute key="yk-disable-counts" value="false"/>
<booleanAttribute key="yk-disable-alloc" value="false"/>
<booleanAttribute key="yk-capture-memory-on-exit" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="L2_GameServer"/>
<stringAttribute key="org.eclipse.debug.ui.target_debug_perspective" value="perspective_default"/>
<booleanAttribute key="yk-launch-ui" value="true"/>
<booleanAttribute key="yk-startup-with-object-allocations" value="false"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="true"/>
</launchConfiguration>
